@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif
}

header{
    background: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
}
.logo {
    height: 100%;
}
.navbar, .navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;

}
.navbar {
    gap: 150px;

}
.navbar-list{
    gap: 30px;
}

.navbar-list a{
    color: rgb(242, 131, 160);
    font-size: 14px;
    
}

.carrito{
    border: 0.5px solid crimson;
    padding: 5px 10px;
    margin-top: 3px;
    border-radius: 10px;
    height: 33px;
    font-weight: 600;
    cursor: pointer;
   
   
}

